.form-container {
	max-width: 500px;
	margin: 50px auto;
	padding: 20px;
	border: 2px solid #6c6c6c;
	border-radius: 8px;
	background-color: #474747;
	color: #b5b5b5;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	text-align: center;
	
}


@media (max-width: 768px) {
	.form-container {
		padding: 15px;
		width: 90%;
		background-color: #474747;
	}
}

@media (max-width: 480px) {
	.form-container {
		padding: 10px;
		width: 100%;
		box-shadow: none;
	}
}
