input {
	background-color: #222222;
	color: #b5b5b5;
	border: 1px solid #b5b5b5;
	border-radius: 20px;
	font-size: 16px;
	padding: 10px;
	margin: 5px 0;
	width: 100%;
	box-sizing: border-box;
}

input:focus {
	border-color: #909090;
	outline: none;
	box-shadow: 0 0 5px #909090;
}
input::placeholder {
	color: #6c6c6c;
	font-style: italic;
}
input:hover {
	border-color: #6c6c6c;
	transition: border-color 0.3s;
}
